body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -1;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    padding-bottom: 0px;
  }
  
  header div li {
    display: flex;
    list-style: none;
  }
  
  header div a {
    font-family: "Poppins", sans-serif;font-weight: 700;font-style: normal;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 22px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.2s ease;
    margin-bottom: 0px;
  }
  
  header div a:hover {
    transform: scale(1.05);
  }

  h1{
    text-align: center;
    margin-top: 0px;margin-bottom: 20px;
    font-family: "Poppins", sans-serif;font-weight: 700;font-style: normal;
    color: white;padding-top: 0px;
  }
  
  .hero-slider {
    position: relative;
    width: 58%;
    height: 70vh;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
  }
  
  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
  
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
    border-radius: 5px;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgba(255, 255, 255, 1);
  }

@media (max-width: 430px) {
    .hero-slider{
      width: 78%;
      height: 50vh;
    }
    h1{
      margin-top: 30px;
    }
}